{% extends "base.html" %}

{% block title %}Main page{% endblock %}

{% block links %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('main.static', filename='style/index.css') }}">
{%- endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block main -%}
  {{ super() }}
  <div id="main-poll-container">
    <div id="container">
      <div class="poll-container" id="most-popular-poll-container">
        <h2>Most popular polls</h2>
        <table class="polls">
          <tr>
            <th>Title</th>
            <th>Votes</th>
          </tr>
          {% for poll in most_popular_polls %}
            <tr class="poll">
              <td><a href="{{ url_for('poll.get_poll', id_=poll.id) }}">{{ poll.title.text }}</a></td>
              <td>{{ poll.get_vote_count() }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class="poll-container" id="most-recent-poll-container">
        <h2>Most recent polls</h2>
        <table class="polls">
          <tr>
            <th>Title</th>
            <th>Created</th>
          </tr>
          {% for poll in most_recent_polls %}
            <tr class="poll">
              <td><a href="{{ url_for('poll.get_poll', id_=poll.id) }}">{{ poll.title.text }}</a></td>
              <td>{{ poll.created.replace(microsecond=0) }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <a id="create" href="{{ url_for('poll.create_poll') }}">Create a poll</a>
  </div>
{%- endblock %}

{% block body %}
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
{%- endblock %}
