body {
    background-color: grey;
}
li {
    list-style-type: none;
    margin-bottom: 5px;
}
form {
    width: fit-content;
    padding: 10px;
}
form input {
    font-size: 1.5rem;
}
form label {
    color: white;
}
form div {
    margin-top:5px;
}
form input[type="submit"] {
    font-size: 1.5rem;
    margin-top: 5px;
    width: 100%;
}
.input-error {
    border-color: red;
}
.error-message {
    display: block;
    color: red;
    margin-bottom: 10px;
}
#answer_options {
    margin: 0;
    padding-left: 0;
}
#question {
    margin-bottom: 10px;
}