{% extends "base.html" %}

{%- block title -%}Poll{%- endblock -%}

{% block links %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('poll.static', filename='style/poll.css') }}">
{%- endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
{%- endblock %}

{% block body %}
  {{ super() }}
{% endblock %}

{% block main %}
  {{ super() }}
  {%- with messages = get_flashed_messages(with_categories=True) -%}
    {% if messages -%}
      <ul class="flash-messages">
        {%- for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {%- endfor %}
      </ul>
    {%- endif %}
  {%- endwith %}
  <h2>{{ title }}</h2>
  <form action="{{ url_for('poll.vote_poll', id_=poll_id) }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <ul>
      {%- for option in options %}
      <li>
        <input type="{{ 'checkbox' if multiple else 'radio' }}" id="option-{{ loop.index }}" name="choice" value="{{ option['id'] }}">
        <label for="option-{{ loop.index }}">{{ option['text'] }}</label> {{ option['count'] }}
      </li>
      {%- endfor %}
    </ul>
    <input type="submit" value="Vote">
  </form>
{% endblock %}
