{% extends "base.html" %}

{% block title %}Main page{% endblock %}

{% block links %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('main.static', filename='style/index.css') }}">
{%- endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block main %}
    {{ super() -}}
    <div id="main-poll-container">
      <div id="container">
        <div class="poll-container" id="most-popular-poll-container">
          <h2>Most popular polls</h2>
          {% if most_popular_polls -%}
          <ul class="polls">
          {%- for poll in most_popular_polls %}
            <li class="poll">
              <div class="title">
                <a href="{{ url_for('poll.get_poll', id_=poll.id) }}">{{ poll.title.text }}</a>
              </div>
              {% set c = poll.get_vote_count() -%}
              <div class="vote-count">
                <span>{{ c }} {{ 'Votes' if c > 1 else 'Vote' }}</span>
              </div>
            </li>
          {%- endfor %}
          </ul>
          {%- else -%}
          <p>There are no polls yet.</p>
          {%- endif %}
        </div>
        <div class="poll-container" id="most-recent-poll-container">
          <h2>Most recent polls</h2>
          {% if most_recent_polls -%}
          <ul class="polls">
          {%- for poll in most_recent_polls %}
            <li class="poll">
              <div class="title"><a href="{{ url_for('poll.get_poll', id_=poll.id) }}">{{ poll.title.text }}</a></div>
              <div class="created">{{ poll.created.strftime('%Y-%m-%d %H:%M') }}</div>
            </li>
          {%- endfor %}
          </ul>
          {%- else -%}
          <p>There are no polls yet.</p>
          {%- endif %}
        </div>
      </div>
      <a id="create" class="blue-bg" href="{{ url_for('poll.create_poll') }}">Create a poll</a>
    </div>
{%- endblock %}

{% block body %}
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
{%- endblock %}
