{% extends "base.html" %}

{% block title %}Main page{% endblock %}

{% block links %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('main.static', filename='style/index.css') }}">
{%- endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block main -%}
  {{ super() }}
  <div id="main-poll-container">
    <div id="container">
      <div class="poll-container" id="most-popular-poll-container">
        <h2>Most popular polls</h2>
        <ul class="polls">
          {% for poll in most_popular_polls %}
            <li class="poll">
              <span class="title"><a href="{{ url_for('poll.get_poll', id_=poll.id) }}">{{ poll.title.text }}</a></span>
              <span class="vote-count">{{ poll.get_vote_count() }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="poll-container" id="most-recent-poll-container">
        <h2>Most recent polls</h2>
        <ul class="polls">
          {% for poll in most_recent_polls %}
            <li class="poll">
              <span class="title"><a href="{{ url_for('poll.get_poll', id_=poll.id) }}">{{ poll.title.text }}</a></span>
              <span class="created">{{ poll.created.strftime('%Y-%m-%d %H:%M') }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <a id="create" class="blue-bg" href="{{ url_for('poll.create_poll') }}">Create a poll</a>
  </div>
{%- endblock %}

{% block body %}
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
{%- endblock %}
