{% extends "base.html" %}

{%- block title -%}Poll{%- endblock -%}

{% block links %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('poll.static', filename='style/poll.css') }}">
{%- endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
{%- endblock %}

{% block body %}
  {{ super() }}
{% endblock %}

{% block main %}
    {{ super() -}}
    <form action="{{ url_for('poll.vote_poll', id_=poll_id) }}" method="post">
      <h2>{{ title }}</h2>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <ul>
        {%- for option in options %}
        <li>
          <input type="{{ 'checkbox' if multiple else 'radio' }}" id="option-{{ loop.index }}" name="choice" value="{{ option.id }}"
          {{ 'checked' if (current_user.is_authenticated and option.has_voted_on(current_user)) else '' }} >
          <label for="option-{{ loop.index }}">{{ option.text }}</label>
        </li>
        {%- endfor %}
      </ul>
      <input type="submit" value="Vote">
      <a href="{{ url_for('poll.get_poll_result', id_=poll_id) }}" id="result">Result</a>
    </form>
{%- endblock %}
