h2 {
  color: white;
  border-bottom: 2px solid white;
  word-break: break-all;
  text-align: left;
}
#result {
  background-color: #FFBF00;
  border-radius: 2px;
  color: black;
  display: block;
  font-size: 1.5rem;
  margin-top: 5px;
  padding: 6px 0;
  text-decoration: none;
  text-align: center;
}
#result:hover {
  background-color: #FFAF00;
}
label {
  font-size: 1.5rem;
  word-break: break-word;
}
input[type="checkbox"], input[type="radio"] {
  width: 1.5rem;
  height: 1.5rem;
}