.result {
  position: relative;
  background-color: #fce090;
  border-radius: 3px;
  font-size: 1.5rem;
  max-width: 500px;
  padding: 10px;
  margin: 0 auto;
}
.result h2 {
  border-bottom: 2px solid black;
  color: black;
  margin: 0;
  word-break: break-word;
  text-align: left;
}
.options {
  margin: 0;
  padding: 0;
}
.option {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid black;
}
.option-text {
  word-break: break-word;
  padding-right: 5px;
}
.vote-count {
  white-space: nowrap;
  padding-left: 5px;
}
.option:last-child {
  border-bottom: none;
}
footer {
  border-top: 2px solid black;
  margin: 0;
  padding: 5px 0;
}
.created {
  font-size: 0.8rem;
}
.vote-count {
  float: right;
}
#vote {
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: inherit;
  padding: 5px;
}