{% extends "base.html" %}

{% block links %}
  {{ super() }}
{%- endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
{%- endblock %}

{% block main %}
  {{ super() }}
  <form action="{{ url_for('auth.reset_password', token=token) }}" method="post" novalidate>
    {{ form.csrf_token }}
    {{ form.password.label }} <br>
    {{ form.password }} <br>
    {{ form.confirm_password.label }} <br>
    {{ form.confirm_password }} <br>
    {{ form.submit }}
  </form>
{% endblock %}

{% block body %}
  {{ super() }}
{% endblock %}