<!doctype html>
<html lang="en">
<head>
  {%- block head -%}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {%- block links -%}
  <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}">
  {%- endblock links %}
  <title>{% block title -%}{%- endblock -%}</title>
  {%- endblock head -%}
</head>
<body>
  {%- block body -%}
  <header>
    {% block header -%}
    <nav>
      <h1><a href="{{ url_for('main.index') }}">Poll</a></h1>
        {% if current_user.is_authenticated -%}
          <div class="dropdown" id="user-menu">
            <button id="user-btn" class="dropbtn">User</button>
            <div id="user-dropdown" class="dropdown-content">
              <span><a href="{{ url_for('user.my_polls') }}">My polls</a></span>
              <span><a href="{{ url_for('user.voted_polls') }}">Voted polls</a></span>
              <span><a href="{{ url_for('auth.logout') }}">Log out</a></span>
            </div>
          </div>
        {%- else -%}
          <ul>
            <li>
              <div class="auth blue-bg" id="register">
                <a href="{{ url_for('auth.register') }}">Register</a>
              </div>
            </li>
            <li>
              <div class="auth blue-bg" id="login">
                <a href="{{ url_for('auth.login') }}">Log in</a>
              </div>
            </li>
          </ul>
        {%- endif %}
    </nav>
    {%- endblock %}
  </header>
  <div id="flash-messages">
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <ul class="flash-messages">
          {% for category, message in messages %}
            <li class="flash-message {{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
  <main>
    {%- block main -%}
    {%- endblock %}
  </main>
  {%- block scripts -%}
    <script src="{{ url_for('static', filename='script/base.js') }}"></script>
  {%- endblock -%}
  {%- endblock -%}
</body>
</html>