{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/create_poll.css') }}">
{% endblock %}
{% block title %}
    Create poll
{% endblock %}
{% block body %}
<form action="{{ url_for('poll.create_poll') }}" method="post" novalidate>
    {{ form.csrf_token }}
    <div>
        {{ form.title.label }} <br>
        {{ form.title }}
        {% if form.title.errors %}
            <span class="error-message">{{ form.title.errors[0] }}</span>
        {% else %}
            <br>
        {% endif %}
    </div>
    <div>
        {{ form.answer_options.label }} <br>
        {{ form.answer_options }}
        {% if form.answer_options.errors %}
            <span class="error-message">{{ form.answer_options.errors[0] }}</span>
        {% endif %}
    </div>
    <div>
        {{ form.multiple_choices }}
        {{ form.multiple_choices.label }} <br>
    </div>
    {{ form.submit }}
</form>
<script src="{{ url_for('static', filename='javascript/poll.js') }}"></script>
{% endblock %}