{% extends "base.html" %}

{% block title %}Main page{% endblock %}

{% block links %}
  {{ super() }}
{%- endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block main -%}
  {{ super() }}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
  {% endwith %}
{%- endblock %}

{% block body %}
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
{%- endblock %}
