{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}
    Main page
{% endblock %}

{% block body %}
    {{ super() }}
{% endblock %}
{% block main %}
    {% if current_user.is_authenticated %}
        <h2>Welcome {{ current_user['username'] }}</h2>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <span>{{ message }}</span>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
