{% extends "base.html" %}
{% block title %}
    Poll
{% endblock %}
{% block body %}
    <h1>{{ question }}</h1>
    <form action="{{ url_for('poll.poll') }}/{{ poll_id }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <ul>
        {% for option in options %}
            <li>
                <input type="{{ 'checkbox' if multiple else 'radio' }}" name="choice" value="{{ option['id'] }}">
                {{ option['text'] }} {{ option['count'] }}
            </li>
        {% endfor %}
        </ul>
        <button>Vote</button>
    </form>
{% endblock %}