.poll-container {
  margin: 10px;
  background-color: #fce090;
  border-radius: 5px;
}
.poll-container h2 {
  text-align: center;
  border-bottom: 3px solid black;
}
.polls {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}
.poll td, th{
  padding-bottom: 10px;
}
#main-poll-container {
  margin: 0;
  padding: 0;
}
#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}
#create {
  display: block;
  background-color: #123478;
  text-align: center;
  font-size: 2rem;
  padding: 5px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
#create:hover {
  background-color: #123467;
}
@media only screen and (min-width: 768px) {
  /* For larger screen: */
  #container {
    flex-direction: row;
  }
  .poll-container {
    width: 50%;
    border-radius: 5px 5px 0 0;
  }
  #main-poll-container {
    margin-left: 15%;
    margin-right: 15%;
  }
}