.poll-container {
  margin: 10px;
  background-color: #faa957;
  border-radius: 5px;
}
.poll-container h2 {
  text-align: center;
}
.polls {
    margin: 0;
    padding: 0;
}
.poll {
  margin: 0;
  padding:5px;
}
#main-poll-container {
  margin: 0;
  padding: 0;
}
#container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
#create {
  display: block;
  background-color: #123478;
  text-align: center;
  font-size: 2rem;
  padding: 5px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
#create:hover {
  background-color: #123467;
}
@media only screen and (min-width: 768px) {
  /* For larger screen: */
  #container {
    flex-direction: row;
  }
  .poll-container {
    width: 50%;
  }
  #main-poll-container {
    margin-left: 10%;
    margin-right: 10%;
  }
}