.poll-container {
  margin: 10px;
  background-color: #fce090;
  border-radius: 5px;
  padding: 10px;
}
.poll-container h2 {
  text-align: center;
  margin: 0;
  color: black;
  border-bottom: 3px solid black;
}
.polls {
  width: 100%;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
}
.poll {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid black;
}
.poll:last-child {
  border-bottom: none;
}
.poll a {
  word-break: break-all;
  color: black;
}
.poll td, th{
  padding-bottom: 10px;
}
.title, .vote-count {
  display: inline-block;
}
.vote-count {
  white-space: nowrap;
}
.vote-count span {
}
.created, .vote-count {
  display: block;
  margin-top: 10px;
}
#main-poll-container {
  margin: 0;
  padding: 0;
}
#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}
#create {
  display: block;
  text-align: center;
  font-size: 2rem;
  padding: 5px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
@media only screen and (min-width: 768px) {
  /* For larger screen: */
  #container {
    flex-direction: row;
  }
  .poll-container {
    width: 50%;
    border-radius: 5px 5px 0 0;
  }
  #main-poll-container {
    margin-left: 12%;
    margin-right: 12%;
  }
  .vote-count {
    margin-top: 0;
  }
  #most-popular-poll-container .poll {
    display: flex;
    justify-content: space-between;
  }
  #most-popular-poll-container .poll .title {
    padding-right: 5px;
  }
    #most-popular-poll-container .poll .vote-count {
    padding-left: 5px;
  }
}